In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, date, time,timedelta

In [2]:
path_1='Y://Data//ra//labor//PunchDetailv1.xlsx'
path_2='Y://Data//ra//labor//PunchDetailv2.xlsx'
path_3='Y://Data//ra//labor//PunchDetailv3.xlsx'


df_1=pd.read_excel(path_1, skiprows=2)
df_2=pd.read_excel(path_2, skiprows=2)
df_3=pd.read_excel(path_3, skiprows=2)

In [73]:
#concat into big frame #different dates
store1=pd.concat([df_1[df_1['Store Id']==1],df_2[df_2['Store Id']==1],df_3[df_3['Store Id']==1]],
                 ignore_index=True) #not using original index
store1.drop_duplicates(subset=['Employee Id','Adj Punch Date Skey','Punch Type','Adj Punch Time'],inplace=True)
store1=store1.reset_index(drop=True)
store1

,Division,Store Id,Dept ID,Dept Name,Employee Id,Home Job,Adj Punch Date Skey,Punch Type,Adj Punch Time
0,"Raleigh, NC",1,OPS,Operations Team,228738,Operations Team Associate,20150201,Shift Start,07:55:20.999000
1,"Raleigh, NC",1,FJ,Fine Jewelry,400513,Fine Jewelry Sales,20150201,Shift Start,10:25:28
2,"Raleigh, NC",1,KID,Kids,115764,Sales - Pay for Performance,20150201,Shift Start,10:40:19
3,"Raleigh, NC",1,KID,Kids,240022,Sales - Pay for Performance,20150201,Shift Start,10:42:15
4,"Raleigh, NC",1,MEN,Mens,381994,Sales - Pay for Performance,20150201,Shift Start,10:45:07
5,"Raleigh, NC",1,WOM,Womens,309203,Sales - Pay for Performance,20150201,Shift Start,10:45:26.999000
6,"Raleigh, NC",1,HOME,Home,225841,Sales - Pay for Performance,20150201,Shift Start,10:45:58.999000
7,"Raleigh, NC",1,SHOE,Shoes,225445,STM All Other Markets,20150201,Shift Start,10:47:12
8,"Raleigh, NC",1,FJ,Fine Jewelry,302225,Fine Jewelry Sales,20150201,Shift Start,10:59:48
9,"Raleigh, NC",1,COS,Cosmetics,360936,Cosm - Major Lines,20150201,Shift Start,11:20:37.999000
10,"Raleigh, NC",1,COS,Cosmetics,129498,Cosm - Pay for Performance,20150201,Shift Start,11:27:59.999000
11,"Raleigh, NC",1,COS,Cosmetics,387379,Other Sales,20150201,Shift Start,11:55:31.999000
12,"Raleigh, NC",1,HOME,Home,348519,Sales - Pay for Performance,20150201,Shift Start,12:10:12.999000
13,"Raleigh, NC",1,WOM,Womens,391265,Sales - Pay for Performance,20150201,Shift Start,12:58:53
14,"Raleigh, NC",1,OPS,Operations Team,392566,Operations Team Associate,20150202,Shift Start,04:55:27
15,"Raleigh, NC",1,OPS,Operations Team,257050,Operations Team Associate,20150202,Shift Start,04:57:50
16,"Raleigh, NC",1,OPS,Operations Team,350285,Operations Team Associate,20150202,Shift Start,05:02:57.999000
17,"Raleigh, NC",1,OPS,Operations Team,359858,Operations Team Associate,20150202,Shift Start,07:00:43
18,"Raleigh, NC",1,SHOE,Shoes,393862,Operations Team Associate,20150202,Shift Start,07:02:46
19,"Raleigh, NC",1,HOS,HR/Admin,354139,Human Resource,20150202,Shift Start,07:40:27.999000
20,"Raleigh, NC",1,WOM,Womens,109712,Wacoal-Specialist,20150202,Shift Start,07:57:05
21,"Raleigh, NC",1,KID,Kids,343952,Sales - Pay for Performance,20150202,Shift Start,07:55:10
22,"Raleigh, NC",1,WOM,Womens,361286,Sales - Pay for Performance,20150202,Shift Start,07:58:12.999000
23,"Raleigh, NC",1,ACC,Accessories,319671,Sales - Pay for Performance,20150202,Shift Start,08:01:43.999000
24,"Raleigh, NC",1,WOM,Womens,406544,Operations Team Associate,20150202,Shift Start,08:10:53
25,"Raleigh, NC",1,OPS,Operations Team,228738,Operations Team Associate,20150202,Shift Start,08:27:51
26,"Raleigh, NC",1,FJ,Fine Jewelry,373282,STM Metro A Markets,20150202,Shift Start,09:32:27
27,"Raleigh, NC",1,MEN,Mens,116032,Sales - Pay for Performance,20150202,Shift Start,09:45:01.999000
28,"Raleigh, NC",1,HOME,Home,354960,Sales - Pay for Performance,20150202,Shift Start,09:40:11.999000
29,"Raleigh, NC",1,COS,Cosmetics,114051,Cosm - Major Lines,20150202,Shift Start,09:40:38.999000
...,...,...,...,...,...,...,...,...,...
15072,"Raleigh, NC",1,WOM,Womens,109712,Wacoal-Specialist,20150702,Meal End,14:53:28.999000
15073,"Raleigh, NC",1,LP,Loss Prevention,407518,Loss Prevention,20150702,Meal End,14:58:25.999000
15074,"Raleigh, NC",1,HOME,Home,354960,Sales - Pay for Performance,20150702,Meal End,15:20:04
15075,"Raleigh, NC",1,COS,Cosmetics,129498,Cosm - Pay for Performance,20150702,Meal End,16:05:04
15076,"Raleigh, NC",1,MEN,Mens,320125,Sales - Pay for Performance,20150702,Meal End,16:45:21
15077,"Raleigh, NC",1,KID,Kids,240022,Sales - Pay for Performance,20150702,Meal End,17:27:34
15078,"Raleigh, NC",1,OPS,Operations Team,228738,Operations Team Associate,20150702,Meal End,18:45:00
15079,"Raleigh, NC",1,WOM,Womens,386692,STM All Other Markets,20150702,Meal End,17:00:00
15080,"Raleigh, NC",1,ACC,Accessories,319671,Sales - Pay for Performance,20150702,Meal End,14:34:59.999000
15081,"Raleigh, NC",1,CUST,Office/Cust Serv,228738,Operations Team Associate,20150703,Meal End,14:00:51
15082,"Raleigh, NC",1,WOM,Womens,361286,Sales - Pay for Performance,20150703,Meal End,15:07:00
15083,"Raleigh, NC",1,COS,Cosmetics,129498,Cosm - Pay for Performance,20150703,Meal End,15:18:54
15084,"Raleigh, NC",1,MEN,Mens,320125,Sales - Pay for Performance,20150703,Meal End,15:47:55
15085,"Raleigh, NC",1,WOM,Womens,126562,Sales - Pay for Performance,20150703,Meal End,16:14:58.999000
15086,"Raleigh, NC",1,LP,Loss Prevention,407518,Loss Prevention,20150703,Meal End,16:56:38
15087,"Raleigh, NC",1,COS,Cosmetics,360936,Cosm - Major Lines,20150703,Meal End,17:53:47
15088,"Raleigh, NC",1,WOM,Womens,386692,STM All Other Markets,20150703,Meal End,18:10:00
15089,"Raleigh, NC",1,WOM,Womens,361286,Sales - Pay for Performance,20150704,Meal End,14:00:04
15090,"Raleigh, NC",1,COS,Cosmetics,129984,Cosm - Pay for Performance,20150704,Meal End,14:01:58
15091,"Raleigh, NC",1,KID,Kids,108403,Sales - Pay for Performance,20150704,Meal End,14:13:01
15092,"Raleigh, NC",1,LP,Loss Prevention,407518,Loss Prevention,20150704,Meal End,14:54:59
15093,"Raleigh, NC",1,FJ,Fine Jewelry,400513,Fine Jewelry Sales,20150704,Meal End,15:03:37.999000
15094,"Raleigh, NC",1,MEN,Mens,396948,Sales - Pay for Performance,20150704,Meal End,15:13:03
15095,"Raleigh, NC",1,WOM,Womens,126562,Sales - Pay for Performance,20150704,Meal End,15:15:02.999000
15096,"Raleigh, NC",1,KID,Kids,240022,Sales - Pay for Performance,20150704,Meal End,15:19:43
15097,"Raleigh, NC",1,MEN,Mens,407545,Sales - Commission,20150704,Meal End,15:25:28
15098,"Raleigh, NC",1,HOME,Home,407290,Sales - Pay for Performance,20150704,Meal End,15:19:59.999000
15099,"Raleigh, NC",1,ACC,Accessories,243703,Sales - Pay for Performance,20150704,Meal End,13:15:00
15100,"Raleigh, NC",1,OPS,Operations Team,228738,Operations Team Associate,20150704,Meal End,15:14:00
15101,"Raleigh, NC",1,MEN,Mens,386401,Shoe-Specialist,20150704,Meal End,15:00:00

In [36]:
newdate=[str(int(ele)) for ele in store1['Adj Punch Date Skey']]
store1['Adj Punch Date Skey']=newdate

In [37]:
store1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15102 entries, 0 to 15101
Data columns (total 9 columns):
Division               15102 non-null object
Store Id               15102 non-null int64
Dept ID                15102 non-null object
Dept Name              15102 non-null object
Employee Id            15102 non-null int64
Home Job               15102 non-null object
Adj Punch Date Skey    15102 non-null object
Punch Type             15102 non-null object
Adj Punch Time         15102 non-null object
dtypes: int64(2), object(7)
memory usage: 1.0+ MB

In [4]:
subdf=store1[store1['Adj Punch Time']<time(9,30)]
subdf[subdf['Punch Type']=='Shift End']

,Division,Store Id,Dept ID,Dept Name,Employee Id,Home Job,Adj Punch Date Skey,Punch Type,Adj Punch Time
2219,"Raleigh, NC",1,OPS,Operations Team,406050,Operations Team Associate,20150205,Shift End,09:10:00
2257,"Raleigh, NC",1,OPS,Operations Team,406050,Operations Team Associate,20150206,Shift End,09:05:00
2353,"Raleigh, NC",1,OPS,Operations Team,406050,Operations Team Associate,20150209,Shift End,09:01:59.999000
2387,"Raleigh, NC",1,OPS,Operations Team,406050,Operations Team Associate,20150210,Shift End,09:05:59.999000
3053,"Raleigh, NC",1,OPS,Operations Team,350285,Operations Team Associate,20150303,Shift End,08:00:00
3235,"Raleigh, NC",1,TRN,Training,240598,Operations Team Associate,20150308,Shift End,09:25:52.999000
3712,"Raleigh, NC",1,OPS,Operations Team,392566,Operations Team Associate,20150322,Shift End,09:23:47
3964,"Raleigh, NC",1,WOM,Womens,386692,STM All Other Markets,20150329,Shift End,04:30:00
3965,"Raleigh, NC",1,VIS,Visual,351802,Other Support,20150329,Shift End,05:00:00
3966,"Raleigh, NC",1,VIS,Visual,330830,Store Visual Associate,20150329,Shift End,05:00:00
4110,"Raleigh, NC",1,OPS,Operations Team,240598,Operations Team Associate,20150402,Shift End,09:00:00
8482,"Raleigh, NC",1,VIS,Visual,351802,Other Support,20150412,Shift End,09:00:00
8514,"Raleigh, NC",1,OPS,Operations Team,257050,Operations Team Associate,20150414,Shift End,08:30:12
8673,"Raleigh, NC",1,TRN,Training,361286,Sales - Pay for Performance,20150418,Shift End,09:20:06
9143,"Raleigh, NC",1,OPS,Operations Team,257050,Operations Team Associate,20150502,Shift End,07:56:02
9735,"Raleigh, NC",1,OPS,Operations Team,309203,Sales - Pay for Performance,20150519,Shift End,09:27:47
14011,"Raleigh, NC",1,WOM,Womens,228738,Operations Team Associate,20150629,Shift End,08:47:59.999000

In [67]:
store1[(store1['Employee Id']==393862) & (store1['Adj Punch Date Skey']==20150302)]
#20150302 393862

,Division,Store Id,Dept ID,Dept Name,Employee Id,Home Job,Adj Punch Date Skey,Punch Type,Adj Punch Time
929,"Raleigh, NC",1,TRN,Training,393862,Operations Team Associate,20150302,Shift Start,07:05:08
3045,"Raleigh, NC",1,TRN,Training,393862,Operations Team Associate,20150302,Shift End,21:12:27.999000
4666,"Raleigh, NC",1,TRN,Training,393862,Operations Team Associate,20150302,Meal Start,13:10:03.999000
4676,"Raleigh, NC",1,TRN,Training,393862,Operations Team Associate,20150302,Meal Start,17:41:46.999000
5780,"Raleigh, NC",1,TRN,Training,393862,Operations Team Associate,20150302,Meal End,14:05:24.999000
5791,"Raleigh, NC",1,TRN,Training,393862,Operations Team Associate,20150302,Meal End,18:10:00

In [5]:
set(store1['Punch Type'])

{'Meal End', 'Meal Start', 'Shift End', 'Shift Start'}

In [7]:
def getunique(s):
    uni=[]
    for ele in s:
        if ele in uni:
            continue
        else:
            uni.append(ele)
    return uni


# Math operation done through datetime.datetime, combine virtual year & month & day
def timediff(t1,t2):
    hour=(datetime.combine(date.min,t2) - datetime.combine(date.min, t1)).total_seconds()/3600
    if hour>0:
        return hour
    else:
        return 24+hour

In [40]:
def addbyhour(df,start,end,index):
    if end.hour>start.hour:
        df.loc[index,[start.hour]]=df[start.hour][index]+(3600-60*start.minute-start.second)/3600
        for x in range(start.hour+1,end.hour):
            df.loc[index,[x]]=df[x][index]+1
        df.loc[index,[end.hour]]= df[end.hour][index]+(60*end.minute+end.second)/3600

    else:
        end.hour==start.hour
        df.loc[index,[start.hour]]=df[start.hour][index]+(60*end.minute+end.second-60*start.minute-start.second)/3600

In [41]:
datelist=sorted(list(set(store1['Adj Punch Date Skey'])))
hourname=[ele for ele in range(24)]
#hourname=[ele for ele in range(24)]
target_df=pd.DataFrame(columns=['date']+hourname)

ini_index=0

for d in datelist:
    target_df.loc[ini_index,['date']]=d
    ini_index+=1
    
target_df.fillna(0, inplace=True)


index=0
for d in datelist:
    subdf1=store1[store1['Adj Punch Date Skey']==d]
    emplist=getunique(subdf1['Employee Id'])
    
    for empid in emplist:
        subdf=subdf1[subdf1['Employee Id']==empid]
        subdf=subdf.sort(columns=['Adj Punch Time']) #reset index & sort by punch time
        subdf=subdf.reset_index(drop=True)
        numrow=subdf.shape[0]
        collist=subdf['Punch Type'].tolist()
        #print(subdf)
        if numrow==2:  #Only contain start & end
            try:
                #1==1
                collist==['Shift Start','Shift End']
                start=subdf['Adj Punch Time'][0]
                end=subdf['Adj Punch Time'][1]
                #first hour                
                addbyhour(target_df,start,end,index)
            except:
                print("No Good","date:",d,"empid:",empid)
                #print(subdf)
                
        elif numrow==4:
            try:

                collist==['Shift Start', 'Meal Start', 'Meal End', 'Shift End']

                start=subdf['Adj Punch Time'][0]
                rest_s=subdf['Adj Punch Time'][1]
                rest_e=subdf['Adj Punch Time'][2]
                end=subdf['Adj Punch Time'][3]
                #Part before rest                
                addbyhour(target_df,start,rest_s,index)
                #part after rest
                addbyhour(target_df,rest_e,end,index)                                            
                
            except:
                print("bad bad")
                print("No Good--","date:",d,"empid:",empid)
                
        else:
            #if subdf.shape[0]==6:
            if collist in  [['Shift Start','Meal Start','Meal End','Meal Start','Meal End','Shift End'],
                            ['Shift Start','Meal Start','Meal End','Shift End','Shift Start','Shift End'],
                            ['Shift Start','Shift End','Shift Start','Meal Start','Meal End','Shift End']]:
                
                for j in range(3):
                    start=subdf['Adj Punch Time'][2*j]
                    end=subdf['Adj Punch Time'][2*j+1]
                    addbyhour(target_df, start, end, index)             
            else:
                print(subdf['Punch Type'])
                print("--------------------")               
        #if subdf.shape[0]!=2 and subdf.shape[0]!=4 and subdf.shape[0]!=6: print(d,empid)
    index+=1

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:22: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [42]:
target_df

,date,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
0,20150201,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.077778,1.000000,...,9.410556,11.773611,9.995833,7.927222,6.637500,0.897778,0.000000,0.000000,0.000000,0.0
1,20150202,0.0,0,0,0.000000,0.111944,2.950833,4.750278,7.493611,15.325833,...,17.939444,18.622222,13.500556,11.959167,11.250833,9.077500,8.378056,0.926944,0.000000,0.0
2,20150203,0.0,0,0,0.000000,0.124444,4.000000,5.750278,6.918611,8.818056,...,16.909444,20.672778,17.116111,19.210833,15.506111,11.730278,11.000000,1.762778,0.000000,0.0
3,20150204,0.0,0,0,0.000000,0.073611,3.817778,6.000000,7.165278,8.756111,...,16.600000,16.799444,16.183889,13.643611,10.329167,8.146944,8.000000,0.982222,0.000000,0.0
4,20150205,0.0,0,0,0.000000,0.081111,4.896111,7.000000,7.998333,8.825556,...,14.969722,16.465278,15.306944,15.935833,14.094167,11.000000,11.000000,1.676944,0.000000,0.0
5,20150206,0.0,0,0,0.000000,1.042222,4.962500,6.000000,7.275000,8.683611,...,20.347500,23.578056,21.864444,18.148889,17.216667,15.719444,14.219167,2.746111,0.000000,0.0
6,20150207,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.920833,...,26.094722,21.736944,24.279444,25.494722,19.990278,12.434444,10.000000,1.223056,0.000000,0.0
7,20150208,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,16.621111,14.787778,15.981389,14.096667,14.063056,2.988056,0.000000,0.000000,0.000000,0.0
8,20150209,0.0,0,0,0.000000,1.018056,5.069444,7.000000,9.159722,10.432778,...,14.953056,15.584444,12.721389,9.661944,7.676944,7.000000,7.000000,1.030833,0.000000,0.0
9,20150210,0.0,0,0,0.000278,1.147778,5.001944,6.933611,8.255833,10.104167,...,16.371389,20.159444,16.538056,16.561389,11.542778,10.000000,10.000000,1.871944,0.000000,0.0
10,20150211,0.0,0,0,0.000000,0.000000,2.080278,5.866944,7.311111,9.197222,...,15.896667,16.365833,16.557500,13.138056,8.862500,7.000000,7.000000,1.522778,0.000000,0.0
11,20150212,0.0,0,0,0.000000,0.120556,3.896389,5.000000,6.233333,7.000000,...,14.307222,15.890278,14.301944,15.782222,15.776944,14.665833,13.250000,1.964444,0.000000,0.0
12,20150213,0.0,0,0,0.000000,0.462778,3.927778,4.870833,6.507222,8.179444,...,20.376667,23.602222,19.623056,20.352778,16.530556,14.290278,12.632778,2.184444,0.000000,0.0
13,20150214,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.904444,...,26.748889,26.859444,26.285278,24.245000,21.207222,14.148056,11.734444,1.869444,0.000000,0.0
14,20150215,0.0,0,0,0.000000,0.157222,3.000000,3.000000,3.000000,4.583333,...,15.829167,14.559444,15.531667,12.997778,10.550556,1.547778,0.000000,0.000000,0.000000,0.0
15,20150216,0.0,0,0,0.000000,0.126389,3.876111,4.718611,7.690278,9.633056,...,16.160000,14.222778,13.912778,11.334167,12.058611,11.074722,10.137778,1.138333,0.000000,0.0
16,20150217,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.500278,...,9.703889,13.685556,13.250000,9.399444,8.999722,2.653889,0.000000,0.000000,0.000000,0.0
17,20150218,0.0,0,0,0.000000,0.140278,3.785278,4.000000,5.536389,8.405556,...,17.451667,17.720556,16.961111,14.731389,10.371667,9.000000,8.985278,1.210278,0.000000,0.0
18,20150219,0.0,0,0,0.000000,0.120833,3.922778,5.440000,7.000000,8.080278,...,14.738889,12.673333,12.314444,12.983333,11.023333,8.069167,8.000000,1.376944,0.000000,0.0
19,20150220,0.0,0,0,0.000000,0.067500,2.940833,4.813889,6.000000,7.451944,...,19.033889,22.337500,20.474167,19.384167,14.625278,10.210556,10.000000,2.588333,0.000000,0.0
20,20150221,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.522500,...,26.487500,28.716111,25.485278,20.691667,15.475833,12.000000,12.000000,3.482222,0.000000,0.0
21,20150222,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,14.004167,12.673056,13.862222,12.930833,11.246944,1.954722,0.000000,0.000000,0.000000,0.0
22,20150223,0.0,0,0,0.000000,0.000000,4.000000,4.878333,7.182222,9.486111,...,16.810556,15.393611,14.143889,12.559444,12.815278,11.103333,11.000000,1.940556,0.000000,0.0
23,20150224,0.0,0,0,0.000278,1.066111,3.542778,5.883889,7.011389,9.640556,...,17.821111,17.916111,15.371389,11.718611,8.588611,7.251111,6.000000,1.860833,0.000000,0.0
24,20150225,0.0,0,0,0.000000,0.000000,0.000000,0.349167,7.553889,9.515833,...,14.205278,16.894722,14.623056,14.836944,10.110833,7.751111,4.141667,0.678056,0.000000,0.0
25,20150226,0.0,0,0,0.000000,0.000000,0.000000,0.063611,3.862778,5.666667,...,15.440833,14.202778,15.756389,13.555556,13.155556,11.000000,10.206667,1.933889,0.000000,0.0
26,20150227,0.0,0,0,0.000000,0.034722,2.510833,5.591111,7.033611,9.550833,...,20.376389,19.705833,17.051944,18.069444,16.786111,15.000000,14.511667,2.182778,0.000000,0.0
27,20150228,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.399167,...,24.271667,32.274167,28.148889,24.451667,19.556667,10.619444,8.334167,1.349167,0.000000,0.0
28,20150301,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.910833,12.959722,14.874444,10.425556,8.751667,1.047500,0.000000,0.000000,0.000000,0.0
29,20150302,0.0,0,0,0.000278,1.050000,3.564167,6.900556,9.400833,17.637500,...,16.138333,17.528611,18.127500,12.997778,14.736111,12.478056,11.940000,2.627500,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,20150605,0.0,0,0,0.000000,0.074444,2.943333,4.566944,7.160556,13.000000,...,19.540278,21.223611,18.566667,16.988333,12.479167,9.000000,9.000000,2.197222,0.000000,0.0
124,20150606,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.041667,1.000000,...,19.259722,21.003611,16.604167,17.324444,15.538056,10.087500,10.000000,1.977500,0.000000,0.0
125,20150607,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.249722,12.220833,15.760833,16.126111,14.036111,3.324722,0.000000,0.000000,0.000000,0.0
126,20150608,0.0,0,0,0.000000,0.163056,3.888333,5.933889,8.512222,11.445833,...,15.948889,19.950833,18.253889,16.737778,15.482222,10.369444,8.094722,2.104722,0.000000,0.0
127,20150609,0.0,0,0,0.000000,0.000000,0.108611,3.915000,6.076944,7.000000,...,16.810000,18.655556,13.705000,13.306111,13.545278,12.000000,11.126944,2.059444,0.000000,0.0
128,20150610,0.0,0,0,0.000000,0.090000,4.946667,7.722222,9.078333,11.011944,...,16.858333,21.940278,22.200000,18.453889,14.736667,12.173611,11.814444,8.543333,0.785833,0.0
129,20150611,0.0,0,0,0.000000,0.000000,0.065833,5.505833,7.374722,18.701389,...,14.612778,15.877500,15.032222,10.717500,9.645278,9.000000,6.439444,1.576111,0.000000,0.0
130,20150612,0.0,0,0,0.000000,0.081944,4.879167,7.318056,9.012500,10.630000,...,20.491667,21.975833,20.605000,15.956944,14.030000,11.000000,10.146389,7.863889,1.458611,0.0
131,20150613,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.002778,5.753056,...,23.296389,23.814444,24.801944,16.449722,12.021944,11.716667,9.041667,2.128056,0.000000,0.0
132,20150614,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.278611,...,15.727778,14.645833,14.830000,12.467778,10.131111,1.526389,0.000000,0.000000,0.000000,0.0
133,20150615,0.0,0,0,0.000000,0.000000,0.088333,4.411111,5.962778,7.000000,...,18.463889,20.315833,14.050833,15.728333,11.455833,10.292778,8.578056,2.063889,0.000000,0.0
134,20150616,0.0,0,0,0.000000,0.091389,2.857500,5.522778,6.080000,8.606667,...,18.768056,19.619167,18.698056,15.163611,15.537778,13.003333,10.288333,1.875833,0.000000,0.0
135,20150617,0.0,0,0,0.000000,0.000000,0.126944,3.066389,4.000000,6.945556,...,13.331667,12.089722,15.065000,11.694167,7.216667,6.198611,5.855556,0.773333,0.000000,0.0
136,20150618,0.0,0,0,0.000000,0.110278,3.904167,5.988889,6.000000,7.456111,...,12.981944,14.839444,15.809167,12.098333,11.398056,8.035833,8.000000,1.910833,0.000000,0.0
137,20150619,0.0,0,0,0.000000,0.000000,0.102500,3.821111,4.000000,6.239722,...,18.009167,16.208611,12.737500,10.712500,11.983056,9.076667,8.554722,8.755833,1.196389,0.0
138,20150620,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.008056,7.090556,...,20.038333,15.516667,16.209722,16.487500,14.161111,11.983889,11.000000,10.235556,2.216111,0.0
139,20150621,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,10.369444,10.540833,10.706111,7.923056,7.000000,0.629722,0.000000,0.000000,0.000000,0.0
140,20150622,0.0,0,0,0.000000,0.000000,0.053611,3.262222,4.045833,8.157500,...,18.335556,16.575000,9.982500,10.132500,8.495278,8.000000,7.166667,1.580833,0.000000,0.0
141,20150623,0.0,0,0,0.000000,0.063333,2.922500,5.101389,6.038889,7.933056,...,14.207778,10.987222,9.903333,10.293889,10.676389,10.000000,10.000000,1.593056,0.000000,0.0
142,20150624,0.0,0,0,0.000000,0.000000,0.054167,4.714722,5.166944,7.000000,...,14.922778,14.193333,13.201111,9.834167,8.829722,8.000000,7.045000,0.748056,0.000000,0.0
143,20150625,0.0,0,0,0.000000,0.000000,0.032222,4.713333,5.077222,6.937500,...,15.587222,14.333056,8.807500,10.076944,8.843333,7.283889,7.000000,1.815556,0.000000,0.0
144,20150626,0.0,0,0,0.000000,0.045833,2.930278,3.930833,4.064722,5.000000,...,16.178333,17.113333,17.745278,15.915556,13.285000,12.784167,13.000000,3.393889,0.000000,0.0
145,20150627,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.583611,...,17.036111,17.088889,13.492222,10.856667,11.123056,10.150556,10.000000,2.309167,0.000000,0.0
146,20150628,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.999722,10.381944,12.289722,11.601944,10.808889,2.240833,0.000000,0.000000,0.000000,0.0
147,20150629,0.0,0,0,0.000000,0.000000,0.069444,3.859722,5.733611,6.729444,...,11.597778,10.771944,8.148056,8.699167,9.196111,7.106944,7.000000,1.437778,0.000000,0.0
148,20150630,0.0,0,0,0.000000,0.000000,0.099167,4.768611,5.000000,5.925833,...,11.615833,11.649167,11.123333,10.021667,8.365000,7.236389,6.000000,1.333333,0.000000,0.0
149,20150701,0.0,0,0,0.000000,0.000000,0.000000,4.753333,6.589722,8.583333,...,11.963333,12.215833,10.263889,10.411389,6.800278,5.105556,5.000000,0.910556,0.000000,0.0
150,20150702,0.0,0,0,0.000000,0.115278,3.917500,4.000000,4.990556,5.000000,...,9.936111,13.528333,11.892500,11.946667,12.803611,12.056389,11.488333,2.263333,0.000000,0.0
151,20150703,0.0,0,0,0.000000,0.000000,0.058611,2.652778,4.121944,6.366667,...,13.972222,13.733333,11.736667,11.597500,11.181111,11.000000,10.401667,2.253611,0.000000,0.0
152,20150704,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.500278,...,12.680000,16.414167,14.923056,11.374167,9.966389,1.961944,0.000000,0.000000,0.000000,0.0

In [70]:
trydf=pd.melt(target_df, id_vars=["date"])
trydf=trydf.rename(columns={'variable': 'hour'})
trydf=trydf.sort(columns=['date','hour'])
trydf=trydf.reset_index(drop=True)
trydf

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

          date hour      value
0     20150201    0   0.000000
1     20150201    1   0.000000
2     20150201    2   0.000000
3     20150201    3   0.000000
4     20150201    4   0.000000
5     20150201    5   0.000000
6     20150201    6   0.000000
7     20150201    7   0.077778
8     20150201    8   1.000000
9     20150201    9   1.000000
10    20150201   10   3.140833
11    20150201   11  10.264722
12    20150201   12  12.347222
13    20150201   13  13.533889
14    20150201   14   9.410556
15    20150201   15  11.773611
16    20150201   16   9.995833
17    20150201   17   7.927222
18    20150201   18   6.637500
19    20150201   19   0.897778
20    20150201   20   0.000000
21    20150201   21   0.000000
22    20150201   22   0.000000
23    20150201   23   0.000000
24    20150202    0   0.000000
25    20150202    1   0.000000
26    20150202    2   0.000000
27    20150202    3   0.000000
28    20150202    4   0.111944
29    20150202    5   2.950833
...        ...  ...        ...
3642  20150703   18  11.181111
3643  20150703   19  11.000000
3644  20150703   20  10.401667
3645  20150703   21   2.253611
3646  20150703   22   0.000000
3647  20150703   23   0.000000
3648  20150704    0   0.000000
3649  20150704    1   0.000000
3650  20150704    2   0.000000
3651  20150704    3   0.000000
3652  20150704    4   0.000000
3653  20150704    5   0.000000
3654  20150704    6   0.000000
3655  20150704    7   0.000000
3656  20150704    8   1.500278
3657  20150704    9   4.755833
3658  20150704   10   9.687778
3659  20150704   11  16.559444
3660  20150704   12  17.233056
3661  20150704   13  16.866111
3662  20150704   14  12.680000
3663  20150704   15  16.414167
3664  20150704   16  14.923056
3665  20150704   17  11.374167
3666  20150704   18   9.966389
3667  20150704   19   1.961944
3668  20150704   20   0.000000
3669  20150704   21   0.000000
3670  20150704   22   0.000000
3671  20150704   23   0.000000

[3672 rows x 3 columns]

In [71]:
trydf.to_pickle("Y://Data//ra//PunchHour.pkl")

In [67]:
store1[(store1['Adj Punch Date Skey']=='20150704') & (store1['Employee Id']==228738)]

,Division,Store Id,Dept ID,Dept Name,Employee Id,Home Job,Adj Punch Date Skey,Punch Type,Adj Punch Time
13119,"Raleigh, NC",1,OPS,Operations Team,228738,Operations Team Associate,20150704,Shift Start,11:00:00
14139,"Raleigh, NC",1,OPS,Operations Team,228738,Operations Team Associate,20150704,Shift End,18:57:59.999000
14619,"Raleigh, NC",1,OPS,Operations Team,228738,Operations Team Associate,20150704,Meal Start,14:20:00
15100,"Raleigh, NC",1,OPS,Operations Team,228738,Operations Team Associate,20150704,Meal End,15:14:00

In [ ]:
#-----------------------------------------------------------------------------------------------------------

In [77]:
datelist=sorted(list(set(store1['Adj Punch Date Skey'])))
plevel_df=pd.DataFrame(columns=['date','emp_id','sys_duration'])

index=0
for d in datelist:
    subdf1=store1[store1['Adj Punch Date Skey']==d]
    emplist=getunique(subdf1['Employee Id'])

    
    for empid in emplist:
        subdf=subdf1[subdf1['Employee Id']==empid]
        subdf=subdf.sort(columns=['Adj Punch Time']) #reset index & sort by punch time
        subdf=subdf.reset_index(drop=True)
        nrows=subdf.shape[0]
        
        ngroups=nrows//2
        
        tot=0
        
        for i in range(ngroups):
            start=subdf['Adj Punch Time'][2*i]
            end= subdf['Adj Punch Time'][2*i+1]
            tot+=timediff(start,end)
        
        plevel_df.loc[index,:]=[d,empid,tot]
        index+=1

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:12: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [80]:
plevel_df

          date  emp_id sys_duration
0     20150201  228738      7.28389
1     20150201  400513      7.76111
2     20150201  115764      7.47028
3     20150201  240022      7.48833
4     20150201  381994      5.91861
5     20150201  309203      5.86444
6     20150201  225841      7.35694
7     20150201  225445      7.46167
8     20150201  302225      4.82139
9     20150201  360936      6.89194
10    20150201  129498      6.15056
11    20150201  387379      5.13056
12    20150201  348519      5.08667
13    20150201  391265      3.32083
14    20150202  392566      8.19528
15    20150202  257050       8.1275
16    20150202  350285      7.90833
17    20150202  359858      6.04667
18    20150202  393862      9.11889
19    20150202  354139      8.63778
20    20150202  109712      6.87556
21    20150202  343952      8.08056
22    20150202  361286      8.34083
23    20150202  319671      7.15806
24    20150202  406544      5.13083
25    20150202  228738      8.28861
26    20150202  373282      5.10083
27    20150202  116032      7.61028
28    20150202  354960      5.72306
29    20150202  114051       4.0725
...        ...     ...          ...
4907  20150703  407518        6.385
4908  20150703  390772       5.6375
4909  20150703  115764      5.78917
4910  20150703  108403      5.81417
4911  20150703  396948      5.79833
4912  20150703  407290      5.72333
4913  20150703  243703      5.16028
4914  20150703  391265      4.40528
4915  20150703  386692      7.28333
4916  20150704  388164      6.16611
4917  20150704  400513      6.16194
4918  20150704  361286      6.85306
4919  20150704  108403      5.59806
4920  20150704  243703      7.29056
4921  20150704  240022      8.44861
4922  20150704  407518      5.02528
4923  20150704  129984      5.91472
4924  20150704  119047       5.1375
4925  20150704  360936      8.14556
4926  20150704  126562      7.04417
4927  20150704  396948      6.61833
4928  20150704  406907       5.2125
4929  20150704  407545       5.1575
4930  20150704  115764      5.72583
4931  20150704  302225      5.21889
4932  20150704  386692          6.5
4933  20150704  386401      7.13778
4934  20150704  354139         5.75
4935  20150704  407290         7.75
4936  20150704  228738      7.06667

[4937 rows x 3 columns]

In [81]:
plevel_df.to_pickle("Y://Data//ra//PunchPerson.pkl")